body {
}
.row {
    margin-bottom: 20px;
}
.features .glyphicon {
    font-size: 32px;
}
.footer {
    padding: 20px 20px;
}

/* Override Boostrap default styles */
.well {
  border: none;
  border-radius: 0;
}


/* Responsive media
-------------------------------------------------- */
@media (max-width: 500px) {
    img {
    width: 100%;
    }
}


/* Navbar
-------------------------------------------------- */
.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar-nav > li > a:hover {
    /* Nav links change color when mouse hovers over them */
    background-color: #337ab7 !important;
    color: #ffffff !important;
}

.navbar-nav > li > ul > li > a:hover {
    /* Nav links change color when mouse hovers over them */
    background-color: #337ab7 !important;
    color: #ffffff !important;
}

.navbar-brand:hover {
    background-color: #337ab7 !important;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}
.footer {
  color: #efefef;
  background-color: #333;
}
.footer a {
  color: #9af7fe;
  text-decoration: none;
}

.footer i {
    color: #f5f5f5;
    margin-right: 5px;
}

.footer i:hover {
    color: #337ab7;
}


/* Makes webpage look like a resume
-------------------------------------------------- */
.resume {
    margin-bottom: 40px;
}

.resume h1 {
    /*margin-bottom: 40px;*/
    font-size: 40px;
}

.resume h1, h2, h3, h4 {
    font-family: 'Share Tech', sans-serif;
}

.resume p, ul {
    text-align: left;
}

.resume ul {
    margin-top: 20px;
}

.resume li {
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 10px;
}


/* Dropcap: Wrap <span class='drop-cap'> tags around letter to make it a dropcap
-------------------------------------------------- */
.drop-cap {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
}

/* Dropdown menu for users who disable JavaScript
-------------------------------------------------- */
ul li ul.dropdown {
  background: #ffffff;
  min-width: 160px;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  padding: 5px 0;
}

ul li:hover ul.dropdown {
  display: block;
  background-color: #ffffff;
  min-width: 160px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

ul li ul.dropdown li {
  display: block;
  color: black;
  padding: 5px 10px;
}

ul li ul.dropdown li:hover {
  background-color: #337ab7;
}

ul li ul.dropdown li:hover a {
  background-color: #337ab7;
  color: white;
}

ul li ul.dropdown li a {
  text-decoration: none;
  color: black;
}


/* Parallax scrolling effect
-------------------------------------------------- */
  .parallax {
        /* The image used */
    background-image: url("/public/assets/img/startup-website-layout-wireframes-ideas-sketched-on-paper-picjumbo-com-blurred.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* D3.js maps
-------------------------------------------------- */
.mapOcean {
  background-color: #c3d3e8;
  box-shadow: 0 0 1em black;
  padding: 0;
}

.mapGray {
  background-color: #dbdbdb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}